

<div class="cart_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 offset-lg-1" *ngFor="let order of orders$ | async">
                
                <div class="cart_container mt-3">
                    <div class="cart_items">
                        <ul class="cart_list">
                            <li class="cart_item clearfix">
                                <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                    <div class="alert alert-warning" *ngIf="errorMessage">
                                        {{ errorMessage }}
                                    </div>

                                    <div class="cart_item_name cart_info_col">
                                        <div class="cart_item_title">Étel neve</div>
                                        <div class="cart_item_text">{{ order.foodName }}</div>
                                    </div>

                                    <div class="cart_item_color cart_info_col">
                                        <div class="cart_item_title">Kategória</div>
                                        <div class="cart_item_text"><span style="background-color:#999999;"></span>{{ order.category }}</div>
                                    </div>

                                    <div class="cart_item_price cart_info_col">
                                        <div class="cart_item_title">Ár</div>
                                        <div class="cart_item_text">{{ order.price }}</div>
                                    </div>

                                    <div class="cart_item_price cart_info_col">
                                        <div class="cart_item_title">Elkészítési idő</div>
                                        <div class="cart_item_text">{{ order.preparation }}</div>
                                    </div>

                                    <div class="cart_item_price cart_info_col">
                                        <div class="cart_item_image"><img [src]="order.imgUrl" alt=""></div>
                                    </div>

                                    <div class="cart_item_price cart_info_col">
                                        <div class="cart_item_title">Törlés</div>
                                        <div class="cart_item_text">
                                            <button type="button" class="btn btn-danger" (click)="delete(order.id)">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>      
            </div>

            <div class="col-lg-10 offset-lg-1" *ngFor="let price of maxPrice$ | async">
                <div class="order_total">
                    <form [formGroup]="form">
                        <div class="order_total_content text-md-right">
                            <div class="order_total_title float-left">5000 Ft felett 10% kedvezmányt kap</div>
                            <div class="order_total_title float-left ml-2"></div>

                            <div class="order_total_title">Összesen:</div>
                            <div class="order_total_amount mr-3"> {{ getDiscount(price.sumPrice) }} Ft
                                <input type="hidden" name="price" formControlName="price" [ngModel]="price.sumPrice">
                            </div>

                            <div class="order_total_title">Szállítási idő:</div>
                            <div class="order_total_amount" *ngFor="let prep of maxPrep$ | async">{{ prep.maxPreparation }} perc
                                <input type="hidden" name="preparation" formControlName="preparation" [ngModel]="prep.maxPreparation">
                            </div>

                            <input type="hidden" name="uploaderId" formControlName="uploaderId" [ngModel]="userId">

                            <div class="order_total_button">
                                <button type="submit" class="btn btn-secondary" [disabled]="!(price.sumPrice)" (click)="abortOrder()">Megrendelés visszavonása</button>
                                <button type="submit" class="btn btn-warning" [disabled]="!(price.sumPrice)" (click)="onSubmit(form.value)">Megrendel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>